VITE_AUTH_BASE_URL=https://uatauthbckend.karatly.net
VITE_AUGMONT_BASE_URL=https://uatbckend.karatly.net
VITE_AUGMONT_MERCHANT_ID=11692
VITE_AUGMONT_LOGIN_EMAIL=Onboarding@sabbpe.com
VITE_AUGMONT_LOGIN_PASSWORD=Z1!pX6@S3#vK9a
